<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Général"
                 [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<!-- Start Content -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    Général
                </h4>
            </div>
            <div class="card-body">
                <p>
                    Bienvenue sur la page de gestion des paramètres généraux de l'application.
                </p>
            </div>
        </div>
    </div>
</div>
