<app-breadcrumbs title="Régions" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">
                    Liste des Régions du Maroc
                </h4>
            </div>
            <!-- end card header -->
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <button type="button" class="btn btn-success add-btn" (click)="openModal()">
                                    <i class="ri-add-line align-bottom"></i> Ajouter
                                </button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Rechercher..."
                                           (keyup)="searchZone($any($event).target.value)">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table">
                            <thead>
                            <tr class="bg-light text-muted">
                                <th></th>
                                <th></th>
                                <th>Région</th>
                                <th>Villes</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let zone of zonesData">
                                <td></td>
                                <td></td>
                                <td>{{ zone.nomZone }}</td>
                                <td>
                                    <!-- TODO: Style To this List -->
                                    <ul>
                                        <li *ngFor="let city of zone.villesLivraison">
                                            {{ city.nomVille }}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <span class="status badge text-uppercase"
                                          [ngClass]="{'badge-soft-success': zone.isActive, 'badge-soft-warning':!zone.isActive}">
                                            {{ zone.isActive ? 'Active' : 'Desactive' }}
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <div class="edit">
                                            <button class="btn btn-sm btn-success edit-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#showModal"
                                                    (click)="openModal(zone)">
                                                Modifier
                                            </button>
                                        </div>
                                        <div class="remove">
                                            <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal"
                                                    data-bs-target="#deleteRecordModal"
                                                    (click)="confirmDeleteZone(zone.zoneId)">
                                                Supprimer
                                            </button>
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-warning "
                                                    (click)="changeStatusOfZone(zone.zoneId)">
                                                Changer Status
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center">
                        <!-- Data Info -->
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                <div class="d-flex align-items-center">
                                    <span class="page-data">Affichage de {{ zonesData.length }}
                                        à {{ zonesData.length }} sur {{ totalItems }} entrées</span>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination
                                        [collectionSize]="totalItems"
                                        [pageSize]="itemsPerPage"
                                        [(page)]="currentPage"
                                        [maxSize]="5"
                                        [rotate]="true"
                                        (pageChange)="getZones(searchTerm)">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #content role="document" let-modal>
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">
            {{ zonesForm.get('id')?.value ? 'Modifier' : 'Ajouter' }} Nouvelle Région
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="submitForm()" [formGroup]="zonesForm" autocomplete="off">
        <div class="modal-body">
            <div class="mb-3">
                <label for="nomZone-field" class="form-label">
                    Nom Région
                </label>
                <input type="text" id="nomZone-field" class="form-control" placeholder="Entrer Nom Région" required
                       formControlName="nomZone"
                       [ngClass]="{ 'is-invalid': submitted && zonesForm.controls['nomZone'].errors }"/>
                <div *ngIf="submitted && zonesForm.controls['nomZone'].errors" class="invalid-feedback"
                     align="left">
                    <div *ngIf="zonesForm.controls['nomZone'].errors['required']">
                        Nom Région est obligatoire
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="modal.close('Close click')">
                    Fermer
                </button>
                <button type="submit" class="btn btn-success" id="add-btn">
                    {{ zonesForm.get('id')?.value ? 'Modifier' : 'Ajouter' }}
                </button>
            </div>
        </div>
    </form>
</ng-template>

<!-- Toasts -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>